@import '../../styles/blend.scss';

.enter-button {
  width: 56px;
  height: 56px;
  background-color: var(--color-bg);
  border-radius: 28px;
  position: absolute;
  top: 50%;
  display: flex;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  z-index: 10;
  will-change: transform;
  transform: translate3d(-16px, -50%, 0);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);

  &:hover {
    transform: translate3d(-44px, -50%, 0);
  }

  &.visible {
    color: var(--color-text);
    background-color: var(--color-link);
    transform: translate3d(20px, -50%, 0);

    &:hover {
      transform: translate3d(20px, -50%, 0);
    }
  }

  // &::before {
  //   content: '';
  //   width: 56px;
  //   height: 56px;
  //   display: block;
  //   border-radius: 50%;
  //   background: var(--color-bg);
  //   transform: translate3d(0, 0, 0);
  //   transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
  // }
}
