.hover-text {
  -webkit-text-stroke: 2px var(--color-link);
  text-stroke: 2px var(--color-link);
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  color: transparent;

  &:hover {
    -webkit-text-fill-color: var(--color-link);
    text-fill-color: var(--color-link);
    color: var(--color-link);
  }
}
